version: 2

models:
  - name: fct_orders
    description: "Fact table of orders"
    tests:
      - unique:
          column_name: order_id
      - not_null:
          column_name: order_id
    contract_tests:
      # these are your business‐critical SLAs
      - accepted_values:
          column_name: order_status
          values: ['NEW','PENDING','COMPLETE']
      - relationships:
          from: order_id
          to: ref('dim_orders')
